<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Lokation</h3>
          <p>Gefion Gymnasium
            <br>Østervoldgade 10, 1350 kbh. k</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Find os</h3>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/gefiongaming" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Happy Gaming</h3>
          <p>By Shamal</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2014 - Gefion Gaming - <%= link_to "Privacy", privacy_path %>
        </div>
      </div>
    </div>
  </div>
</footer>