%footer{:class=>'text-center'}
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Lokation
          %p
            Gefion Gymnasium
            %br
            Østervoldgade 10, 1350 kbh. k
        .footer-col.col-md-4
          %h3 Find os
          %ul{:class=>'list-inline'}
            %li
              %a{:href=>'https://www.facebook.com/gefiongaming', :class=>'btn-social btn-outline', :target=>'_blank'}
                %i{:class=>'fa fa-fw fa-facebook'}
            %li
              %a{:href=>'https://github.com/sphinxominator/gefion-gaming', :class=>'btn-social btn-outline', :target=>'_blank'}
                %i{:class=>'fa fa-fw fa-github'}
        .footer-col.col-md-4
          %h3 Happy Gaming
          %p By Shamal
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright &copy; 2015 - Gefion Gaming -
          = link_to "Privacy", privacy_path

