<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Spil</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% Game.where('visible=true').order(:name).each_with_index do |game| %>
          <div class="col-sm-4 portfolio-item">
            <%= link_to("#" + game.tag,{ class: "portfolio-link", data: {toggle: "modal"}}) do %>
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <%= image_tag(image_url('game-images/' + game.tag + '-logo.png'), class: "img-responsive") %>
                <% if game.next_tournament %>
                    <span class="tourney-icon"><%= image_tag("portfolio/tourney-icon.png") %></span>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <!--<div class="row">
      <div class="col-lg-2 col-lg-offset-3 text-center">
        <i class="fa fa-puzzle-piece fa-5x"></i>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2 text-center">
        <i class="fa fa-plus fa-5x"></i>
      </div>
    </div>-->
  </div>
</section>