%header
  .container
    .row
      .col-lg-12
        = image_tag("portfolio/game-alone.png", class: "img-responsive", size:"256x256")
        .intro-text
          %span{:class=>'name'} Gefion Gaming
          %hr{:class=>'star-light'}