<section class="portfolio" id="real-games">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Spil</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% Game.all.each do |game| %>
          <div class="col-sm-4 portfolio-item">
            <%= link_to("#portfolioModal" + game.id.to_s,{ class: "portfolio-link", data: {toggle: "modal"}}) do %>
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <%= image_tag(image_url('game-images/' + game.tag + '-logo.png'), class: "img-responsive") %>
                <% if game.next_tournament %>
                    <span class="tourney-icon"><%= image_tag("portfolio/tourney-icon.png") %></span>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-5 text-center">
        <i class="fa fa-list fa-4x"></i>
      </div>
      <div class="col-sm-1 text-center">
        <i class="fa fa-plus fa-4x"></i>
      </div>
    </div>
  </div>
</section>