%section#real-games.portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 Brætspil
        %hr.star-primary
    .row
      .col-sm-6.col-sm-offset-3.justify
        %p Hos Gefion Gaming elsker vi også brætspil! Vi stiller selv nogle til rådighed, men vi opfordrer alle til at tage deres egne med så vi kan spille dem sammen.
    .row
      .col-md-2.col-md-offset-4.text-center.board-game-button
        %i.fa.fa-list.fa-4x
        %h6 Vis mig spillene!
      .col-md-2.col-md-offset-0.text-center.board-game-button
        %i.fa.fa-plus.fa-4x
        %h6 Jeg tager selv et spil med!